    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Customer {{Name}}
                    </a>
                </li>
                
                <li>
                    {{> page/navcustomer}}
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Customer Requriements</h1>
 
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>

                        <p>Customer Can:</p>
                        <ul> 
                            <li>rate the service </li>
                            <li>receive text message, #phone info is a must  </li>
                            <li>email notification </li>
                            <b> <p> reschedule </p> </b>
                            <li>can reschedule the service </li>

                            <b> <p> this can be done in profile section </p></b>
                            <li>can create account </li>
                            <li>change name </li>
                            <li>change address </li>
                            <li>change service to be installed </li>
                            <li>change billing info </li>
                           
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>