    <div id="wrapper">

        
        <!-- Page Content -->
       <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">

                           <h1> <strong>On Time Install App</strong></h1>
                            <div class="description">
                                <p>
                                    Have you had this problem when you try to schedule a new service, let's say with Verizon, Cox etc. 
They have sold you a service and now you just have to have a technitian to come and connect/install the hardware etc.  
For an example, sales person will get your phone # and let you know that technician will come Mon, Tue from 12 PM to 3 PM.  

It is difficult to block half a day to get the service installed and inconvenient.
And then when the time comes, technician might be busy/ traffic etc. and does not show up.  

You will be upset becuase you have wasted so much time.

Solution would be to have a tracker(smartphone) with technicitan and have him notify you when he is about (15,20,30 min from you) (you can choose this option).  
You will recieve the text (or email notification).

#Business reasoning:

Providers spend a lot of money to advertise and reach out to you as a customer and have you switch from another provider, but fail most of the time at the last step of the sale.  

                                </p>
                            </div>
                     </div>   

                        <!--Login 2nd section-->
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our application</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                                    <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                    </div>
                                    <button type="submit" class="btn">Sign in!</button>
                                </form>
                            </div>
                        </div>

                        <!---end of 2nd section-->
                        <!--login with fb,google-->
                        <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 social-login">
                                    <h3>...or login with:</h3>
                                    <div class="social-login-buttons">
                                        <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                            <i class="fa fa-facebook"></i> Facebook
                                        </a>
                                        <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </a>
                                        <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                            <i class="fa fa-google-plus"></i> Google Plus
                                        </a>
                                    </div>                                        


                            <div>
                                    <h4>
                                     <li>Sales can see Sales Menu Only no Home button </li>
                                    <a href="/sales" class="btn btn-default"> Sales Login</a>

                                    <li>Customer can see only Customer page </li>
                                    <a href="/customer" class="btn btn-default" id=""> Customer Login</a>
                                    <li>Tech can see only tech page </li>
                                    <a href="/tech" class="btn btn-default" id=""> Tech Login</a>
                                    </h4>
                            </div> 
                        ``</div>
                        <!---endof-->

                      </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>
</div>