    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Sales Representative
                    </a>
                </li>
                
                <li>
                     {{>page/navsales}}
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Sales Rep</h1>
                        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                        <ul> 
                            <li>Can assign a task to a tech </li>
                            <li>Can see tech coverage area (tech coverage should be 5-10 miles or zip code coverage) </li>
                            <li>Can modify task </li>
                            <li>Can see tech schedule </li>
                            <li>Can remove "task" from tech schedule</li>
                            <li>Can add "add task" to tech schedule </li>
                            <li> Can see "available" tech </li>
                            <li> Can see "one the way" tech</li>
                            <li> Can see "done" tech</li>
                            <li> Can enter cutomer info, create profile for a customer</li>
                            <li> Can enter name, address, cc, billing address, notes, service type (3 types for MVP)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>