<ul>
    <li><a href="/customer">Home</a></li>
    <li><a href="/schedule">Reschedule</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/rate">Rate</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>