<ul>
    <li><a href="/sales">Home</a></li>
    <li><a href="/#">Tech</a></li>
    	<ul> 
    		 <li><a href="/#">Available </a></li>
    		 <li><a href="/#">Assign Task </a></li>
    		 <li><a href="/#">Schedule</a></li>
    		 <li><a href="/#">Modify Task</a> </li>
    		 <li><a href="/#">Coverage Area</a></li>
    	</ul>
    <li><a href="/customer">Customer Info</a></li>
   
</ul>