<!--Nav bar for a tech-->
<ul>
    <li><a href="/tech">Home</a></li>
    <li><a href="/tech">Notifications</a></li>
    <li><a href="/tech">Schedule</a></li>
    <li><a href="/tech">Tasks</a></li>
    <li>Current Status</li>
</ul>